.rent-img {
	width: 100%;
	position: absolute;
}

#img-box img {
	height: auto;
 	width: 150px;
}

/* .img-box {
	width: 64px;
    height: 64px;
    position: relative;
    overflow: hidden;
} */

#img-box {
	height: 100px !important;
	width: 107px !important;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	margin-right: -3px;
	margin-top: 5px;

}

.im_upload {
	clear: left !important;
	margin-left: 1px !important;
}

.div_select_custom {
	border: 1px solid #aaa;
}

#drop_zone{
  max-height: none;
}

.thumb {
  background-color: #f4f6f9;
  position: relative;
  width: 107px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  padding: 0 57px;
  margin-top: 10px;
  float: left;
  margin-left: 1.5px;
  margin-right: 1.5px;
  border-radius: 4px;
  border: 1px solid #aeb3ba;
}
.thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  margin-bottom: 0;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}


/*========*/
.paging > li > a{
	padding: 6px 7px !important;
}

.nhf_body{
  margin-bottom: 0px;
}

#aa-properties {
  padding-bottom: 25px;
}

.unit_text{
  display: inline-block;
  padding-top: 5px;
  color: #999;
  margin-left: 5px;
}

.sunny_container{
  padding-bottom: 30px !important;
}

.warning_validate {
  display: none;
  color: red;
  padding-top: 5px;

}

