
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Quản lý phòng trọ </title>
	<link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />
	<!-- <script src="http://www.w3schools.com/lib/w3data.js"></script> -->
</head>
<body>
	<!-- Header -->
	<div id="header">
		<!-- Header. Status part -->
		<div id="header-status">
			<div class="container_12">
				<div class="grid_4">
					<ul class="user-pro">
						<li><a href="loguot.jsp">Logout</a></li>
						<li>Chào, <a href="profile.jsp">admin</a></li>
					</ul>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div> <!-- End #header-status -->

		<!-- Header. Main part -->
		<div id="header-main">
			<div class="container_12">
				<div class="grid_12">
					<div id="logo">
						<ul id="nav">
							<li id="current"><a href="/admin/">Quản trị</a></li>
							<li><a href="/admin/detail-user">Tài khoản</a></li>
							<li><a href="/admin/user">Người dùng</a></li>
						</ul>
					</div><!-- End. #Logo -->
				</div><!-- End. .grid_12-->
				<div style="clear: both;"></div>
			</div><!-- End. .container_12 -->
		</div> <!-- End #header-main -->
		<div style="clear: both;"></div>
		<!-- Sub navigation -->
		<div id="subnav">
			<div class="container_12">
				<div class="grid_12">
					<ul>
						<li id="current"><a href="/indexNews">Quản lý bài đăng</a></li>
						<li><a href="">Loại hình cho thuê</a></li>
						<li><a href="">Thành phố</a></li>
						<li><a href="">Quận/Huyện</a></li>
						<li><a href="">Phường/Xã</a></li>
					</ul>
				</div><!-- End. .grid_12-->
			</div><!-- End. .container_12 -->
			<div style="clear: both;"></div>
		</div> <!-- End #subnav -->
	</div> <!-- End #header -->

	<div class="container_12">
		<div class="bottom-spacing">
		<!-- Button -->
    	<div class="float-left">
			<a href="" class="button">
				<span>Thêm Quận/Huyện <img src="images/plus-small.gif" alt="Thêm tin" > </span>
		  	</a>
	    </div>
	    <div class="clear"></div>
	    <div>
	    	<form action="/admin/find-news">
	    		Tìm kiếm theo khu vực:
				<select name="find">
					<option  value="">ALL</option>
					<option  value="">Đà Nẵng</option>
					<option  value="">Hồ Chí Minh</option>
					<option  value="">Hà Nội</option>
					
				</select>	
	    	</form>
	    </div>
	    <div class="clear"></div>
	</div>

	<div class="grid_12">
		<!-- Example table -->
		<div class="module">
			<h2><span>Danh sách quận/huyện </span></h2>
			
			<div class="module-table-body">
				<form action="">
				<table id="myTable" class="tablesorter">
					<thead>
						<tr>
							<th style="width:15%; text-align: center;">ID quận/huyện</th>
							<th>Tên quận/huyện</th>
							<th>Loại</th>
							<th>Vị trí</th>
							<th>ID tỉnh/thành phố </th>
							<th style="width:15%; text-align: center;">Chức năng</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="align-center">001</td>
							<td><a href="">Liên Chiểu</a></td>
							<td>Quận</td>
							<td>16.1129446,108.0628078</td>
							<td>TP001</td>
							<td align="center">
								<a href="">Sửa <img src="images/pencil.gif" alt="edit" /></a>
								<a href="">Xóa<img src="images/bin.gif" width="16" height="16" alt="delete" /></a>
							</td>
						</tr>
					</tbody>
				</table>
				</form>
			 </div> <!-- End .module-table-body -->
		</div> <!-- End .module -->
		<div class="pagination">           
			<div class="numbers">
				<span>Trang:</span> 
				<a href="">1</a> 
				<span>|</span> 
				<a href="">2</a> 
				<span>|</span> 
				<span class="current">3</span> 
				<span>|</span> 
				<a href="">4</a> 
				<span>|</span> 
				<a href="">5</a> 
				<span>|</span> 
				<a href="">6</a> 
				<span>|</span> 
				<a href="">7</a>
				<span>|</span> 
				<a href="">8</a> 
				<span>|</span> 
				<a href="">9</a>
				<span>|</span> 
				<a href="">10</a>   
			</div> 
			<div style="clear: both;"></div> 
		</div>
	</div> <!-- End .grid_12 -->
</div>	
	<div style="clear:both;"></div>
	<!-- Footer -->
	<div id="footer">
		<div class="container_12">
			<div class="grid_12">
				<p>Copyright &copy; 2016. <a href="" title="Đã học là làm được">Thực Tập Công Nhân</a></p>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div> <!-- End #footer -->
</body>
</html>            